
# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ANALYTICS
SNOWFLAKE_SCHEMA_STAGE=V2_DWH_TEMP
SNOWFLAKE_SCHEMA_SALES=V2_DWH_SALES
SNOWFLAKE_SCHEMA_DIM=V2_DWH_CUSTOMER

# AWS (if used for S3 landing / PrivateLink)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
