# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Data
data/
*/data/raw/
*/data/processed/

# Env
.env

# Mac
.DS_Store

# MLflow
mlruns/

# Never commit virtualenvs anywhere
**/.venv/
**/venv/
**/env/

# Never commit OS junk
**/.DS_Store
