# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Data
data/raw/
data/processed/

# Env
.env

# Mac
.DS_Store

# MLflow
mlruns/
data/training_dataset.parquet
models/*.joblib
